{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}

<h1>{{ datetime|format_datetime(locale: 'fr', timezone: 'Europe/Paris')}}</h1>

<h1>{{ slug }}</h1>

{% endblock %}
