{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1>Cette URL ne renvoie pas de produit quelconque.</h1>
<h2>Merci de rajouter /[id] à la fin de l'URL pour afficher un produit.</h2>

{% endblock %}
